<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="styles/ReviewStyles.css">
    <title th:text="${reviewModel.characterName}">A review</title>
</head>
<body>

<header>
    <h1 th:text="${reviewModel.characterName}">A Review</h1>
</header>


<main>
        <img th:src="${reviewModel.imageUrl}" alt="Character Image">
        <p id="review" th:text="${reviewModel.reviewContent}"></p>
    <h2 id="rating" th:text="${reviewModel.rating}"></h2>
    <p><a id="homeButton" href="/reviews">Other Character Reviews</a></p>
</main>
</body>
</html>